src/resources/XmlSchema.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="a" type="xs:string"/>
                <xs:element name="b" type="xs:decimal"/>
                <xs:element name="c" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>    
    </xs:element>
</xs:schema>
